<app-header title="TeLlevoAPP" ></app-header>


<ion-content [fullscreen]="true">

  <br>

  <h1 style=" font-weight: bold; text-align: center;">
    ¡ Bienvenido a Te Llevo App !</h1>
    <p class="ion-text-center">Elige el que te corresponda</p>

  <br> 
 
    <ion-button expand="block" [routerLink]="['/conductor']" shape="round" routerLinkActive="router-link-active" mode="ios" >
      Conductor
      <ion-icon slot="end"></ion-icon>
    </ion-button>
<br>
    <ion-button expand="block" [routerLink]="['/pasajero']" shape="round" routerLinkActive="router-link-active" mode="ios" >
      Pasajero
      <ion-icon slot="end"></ion-icon>
    </ion-button>
     
<br>
<div class="center-content">
    <ion-button (click)="signOut()" color="danger"  mode="ios" class="ion-margin" type="submit">
      Cerrar Sesión</ion-button>
    </div>
   
      
</ion-content> 