
<app-header backButton="/"  title="TeLlevoApp"></app-header>

<ion-content [fullscreen]="true">
  <br>
  <h1 style=" font-weight: bold; text-align: center;">
    Viajes disponibles</h1>
  
   

  <div class="flex-container ion-padding">
    <img alt="img1" src="https://media.licdn.com/dms/image/C5603AQG_Ez_d6xnnDQ/profile-displayphoto-shrink_800_800/0/1641690544912?e=2147483647&v=beta&t=FnV4o07mwhbR0bNhLx0hqtFD2ikaj6mwsK3Bkp2bvmc">
    <div class="text-content">
      <h2>Daniela Gomez</h2>
      <p>Duoc UC</p>
    </div>
    

    <ion-button class="ver" shape="round" routerLink="/info-conductor" >Ver</ion-button>

  </div>
<br>
  <div class="flex-container ion-padding">
    <img alt="img2" src="https://th.bing.com/th/id/OIP.GHiW5xwEgf46INlPLJKJ-gHaHa?rs=1&pid=ImgDetMain">
    <div class="text-content">
      <h2>Alonso Morales</h2>
      <p>Duoc UC</p>
    </div>

    <ion-button class="ver" shape="round" routerLink="/info-conductor" >Ver</ion-button>
  </div>
</ion-content>

