<app-header backButton="/"  title="TeLlevoApp"></app-header>

<ion-content [fullscreen]="true">
  <br>
  <h1 style=" font-weight: bold; text-align: center;">
    Viajes disponibles</h1>

    <ion-list>      
      <ion-card *ngFor="let viaje of viajes">
        <ion-card-header>
          <ion-card-title>{{ viaje.name }}</ion-card-title>
          <ion-card-subtitle>Destino: {{ viaje.destino }}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          <ion-item lines="none">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label>Precio: ${{ viaje.price }}</ion-label>
          </ion-item>
  
          <ion-item lines="none">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Capacidad: {{ viaje.capacidad }}</ion-label>
          </ion-item>

          <ion-button expand="block" class="ion-text-center ion-margin"shape="round"color="primary" (click)="reservarViaje(viaje)">
            <ion-icon name="car-outline" slot="start"></ion-icon>
            Reservar Viaje
          </ion-button>
        </ion-card-content>
      </ion-card>
  
      <ion-text color="medium" class="ion-text-center ion-padding" *ngIf="viajes.length === 0">
        <p>Sin viajes disponibles</p>
      </ion-text>
    </ion-list>
</ion-content>
