.titulo {
    text-align: center;

  }

.ver{
  --padding-start: 35px; /* Ajusta el lado izquierdo */
  --padding-end: 30px; /*derecho*/
  --padding-right: 50px; 
}




.flex-container {
  display: flex;
  align-items: center;
}

.flex-container img {
  width: 120px; /* ancho de la imagen */
  height: 120px; /* altura de la imagen */
  margin-right: 15px; /* Espacio entre la imagen y el texto */
}

.text-content {
  max-width: 150px; /* Ajusta el ancho máximo del contenedor de texto */
}