<app-header backButton="/"  ></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <br>
  <h3 style="text-align: center;">PEDIR VIAJE</h3>
  <br>
    <div style="display: flex; justify-content: center;">
      <ion-avatar>
        <img alt="person-icon" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>
  </div> 
  <br>
  <div class="ion-text-center">
  <p>NOMBRE: DANIELA  </p>
  <p>APELLIDO: GOMEZ</p>
  <p>DESTINO: MAIPÚ</p>
  <p>CAPACIDAD: 4</p>
  <p>HORA: 10:45</p>

  <br>
  
    <ion-button shape="round" routerLink="/pasajero" >Cancelar</ion-button>
    <ion-button shape="round" routerLink="/inicio" >Aceptar</ion-button>
  </div>

</ion-content>