<app-header backButton="/"  ></app-header>

<ion-content [fullscreen]="true">
  <br>
  <h3 class="titulo ion-text-center" >SOLICITUDES</h3>
  <br>
  
  <div class="container">
    <ion-card >
      <ion-list>
       <ion-item *ngFor="let solicitud of solicitudes"><!--cam-->
         <!--info usuario que solicita-->
         <ion-label>
           <h2>{{solicitud.nombre}}</h2>
         </ion-label>
       
   
      <ion-button color="tertiary" (click)="aceptarSolicitud(solicitud)">Aceptar
      </ion-button>
      
       <!--Borrar-->
      <ion-button slot="end" color="danger" (click)="rechazarSolicitud(solicitud)">rechazar</ion-button>
     
     </ion-item>
   </ion-list>
     </ion-card>
  </div>
</ion-content>
